.categories{
	width: 100%;
	&__content{
		width: 100%;
		display: flex;
		margin-top: 60px;
		flex-wrap:wrap;	
	}
	&__column{
		flex: 1 1 33.333%;
		display: flex;
		flex-direction:column;
		align-items: center;
	}
	&__row{
		display: flex;
		width: 100%;	
	}
	&__bg{
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit:cover;
		object-position:center;	
		transition:$transition;	
	}
	&__item{
		display: flex;
		position: relative;
		flex-direction:column;
		align-items: center;
		width: 250px;
		overflow: hidden;
		height: 250px;
		margin: 0 auto;
		border-radius: 50%;

		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.75);		
			border-radius: 50%;
			z-index: 1;
			transition:$transition;
		}
		&:hover{
			&:before{
				background: rgba(20,0,0,0.75);
			}
			.categories__bg{
				transform:scale(1.1)
			}
		}
	}
	&__link{
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		z-index: 2;
	}
	&__title{
		color:#fff;
	}
	&__img,&__decorMini,&__title{
		z-index: 2;
	}
	&__img{
		max-width: 100%;
		margin:25px 0 15px 0;
	}
	&__title{
		margin: 0;
	 	font-size: 21px;
	  	text-transform: uppercase;
	  	line-height: 1.19;
	}
	&__decorMini{
		margin:40px 0 0px 0;
	}
	&__decor{
		height: 100%;
		position: relative;
		&_decoreNone{
			display: none;
		}
	}
	&__line{
		position: absolute;
		top: 0;	
		left: 50%;
		width: 1px;	
		height: 100%;
		background: $element;		
		transform:translate(-50%,0%);
		&:after{
			content: '';
			position: absolute;
			width: 18px;
    		height: 18px;
    		bottom: 104%;	
			left: -9px;
    		@include square();
		}
		&_bottomCircle{
			&:before{
				content: '';
				position: absolute;
				width: 18px;
	    		height: 18px;
	    		top: 104%;	
				left: -9px;
	    		@include square();
			}
		}	
	}
	&__decorbox{
		position: absolute;
		top: 50%;	
		left: 50%;		
		transform:translate(-50%,-50%);
		background: #fff;		
	}
	&__circle{
		display: block;
		width: 10px;	
		height: 10px;
		border-radius: 50%;
		background: $element;
		margin: 15px 0 15px 0;
		&_circleNone{
			display: none;
		}
	}
	&__description{
		display: flex;
		margin-top: 130px;
		padding: 0 20px 0 20px;		
	}
	&__pattern{
		min-width: 86px;
		min-height: 375px;
		background: url('../img/pattern.png');
		background-repeat-x: no-repeat;
    	background-size: contain;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			top: -7px;	
			left: 0;
			width: 84.4px;
			height: 10px;	
			background: url('../img/patternHeader.png') center / contain no-repeat;	
		}		
	}
	&__textBox{
		margin-left: 40px;	
	}
	&__text{
		margin: 40px 0 40px 0;
		font-size: 15px;
 		line-height: 1.667;

		&:first-child{
			margin: 0px 0 40px 0;
		}
		&:last-child{
			margin: 40px 0 0px 0;
		}	
	}
	@media(max-width: 700px){
		&__text{
			margin: 30px 0 30px 0;
			font-size: 14px;
 			line-height: 1.367;
			&:first-child{
				margin: 0px 0 30px 0;
			}
			&:last-child{
				margin: 30px 0 0px 0;
			}	
		}
		&__textBox{
			margin-left: 20px;	
		}
	}
	@media(max-width: 500px){
		&__description{
			margin-top: 80px;
		}
		&__text{
			margin: 20px 0 20px 0;
 			line-height: 1.067;
			&:first-child{
				margin: 0px 0 20px 0;
			}
			&:last-child{
				margin: 20px 0 0px 0;
			}	
		}
		&__textBox{
			margin-left: 10px;	
		}
	}
	@media (max-width: 800px){
		&__column{
			flex:1 1 100%;
		}
		&__circle{
			&_circleNone{
				display: block;
			}
		}
		&__decor{
			&_decoreNone{
				display: block;	
			}
		}
		&__item{
			margin:0 40px 0 40px;
		}
		&__row{
			justify-content: center;	
		}
		&__line{
			&_bottomCircle{
				&:before{
					display: none;
				}	
			}
		}
	}
	@media(max-width: 376px){
		&__item{
			width: 220px;
			height: 220px;
			margin:0 30px 0 30px;		
		}
		&__pattern{
			min-width: 56px;
			&:after{
				width: 55px;	
			}	
		}
	}
}